<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
			xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragment/fragment :: head}">
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div th:replace="~{fragment/fragment :: nav}"></div>
<div class="text-center mx-auto" style="padding:80px 0">
	<h1>JANGBOGI</h1>
</div>
<form method="post" th:action="@{/ledger/newitem}">
	<input type="hidden" name="lno" th:value="${no}">
	<div class="container w-50 d-flex flex-column gap-5 border border-dark-subtle rounded-1 mt-4 p-4"
			 style="min-width:360px">
		<div class="list-group">
			<input class="list-group-item" id="name" maxlength="30" name="name" placeholder="내용을 입력해주세요." required/>
		</div>
		<div class="list-group">
			<select class="list-group-item" id="category" name="category" required>
				<option disabled name="category" selected value="0">카테고리</option>
				<option name="category" value="1">식비</option>
				<option name="category" value="2">카페/간식</option>
				<option name="category" value="3">쇼핑</option>
				<option name="category" value="4">취미/여가</option>
				<option name="category" value="5">생활</option>
				<option name="category" value="6">잡화</option>
				<option name="category" value="7">주거/통신</option>
				<option name="category" value="99">기타</option>
			</select>
		</div>
		<div class="list-group">
			<input class="list-group-item" id="memo" maxlength="16" name="memo" placeholder="메모를 입력해주세요."/>
		</div>
		<div class="justify-content-center d-flex">
			<button class="btn btn-outline-success w-25" type="submit">등록</button>
		</div>
		<div class="justify-content-center d-flex">
			<button class="text-decoration-none text-secondary" onclick="history.back()">뒤로</button>
		</div>
	</div>
</form>
</body>
</html>